In [9]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql import SparkSession

In [10]:
spark = ( 
 SparkSession
 .builder
 .master("local[*]")
 .appName('test')
 .getOrCreate()
)

In [11]:
data = [ 
 ("James","","Smith","36636","M",3000),
 ("Michael","Rose","","40288","M",4000),
 ("Robert","","Williams","42114","M",4000),
 ("Maria","Anne","Jones","39192","F",4000),
 ("Jen","Mary","Brown","","F",-1) 
]

In [12]:

schema = (
 StructType([
  StructField("firstname",StringType(),True),
  StructField("middlename",StringType(),True), 
  StructField("lastname",StringType(),True),
  StructField("id", StringType(), True),
  StructField("gender", StringType(), True),
  StructField("salary", IntegerType(), True)
   ])
)

In [13]:
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+